.page-footer {
	background-color: #112D6A;
	padding-top: 45px;
	padding-bottom: 46px;
	&__wrapper {
		position: relative;
		display: block;
		padding-left: 30px;
		padding-right: 30px;
	}
	&__privacy-link {
		display: block;
		text-align: center;
		font-family: 'Inter', 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.2;
		text-decoration: underline;
		color: rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease-in-out;
		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}
}

@include for-size(mobile) {
	.page-footer {
		padding-top: 20px;
		padding-bottom: 20px;
		&__wrapper {
			padding-left: 15px;
			padding-right: 15px;
		}
		&__privacy-link {
			text-align: center;
			font-size: 14px;
			width: 100%;
			max-width: 280px;
			margin: 0 auto;
		}
	}
}