.registration-block {
	background-color: #2F7DC6;
	padding-top: 95px;
	padding-bottom: 125px;
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__content-block {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__content-wrapper {
		display: block;
		width: 100%;
		max-width: 650px;
		padding-top: 13px;
	}
	&__overhead {
		display: block;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 800;
		color: #fff;
		margin-bottom: 5px;
	}
	&__title {
		display: block;
		font-weight: 800;
		font-size: 36px;
		line-height: 1.2;
		color: #6BF6B5;
	}
	&__description {
		display: block;
		width: 100%;
		max-width: 475px;
		font-size: 24px;
		line-height: 1.4;
		font-weight: 400;
		color: #fff;
		margin-bottom: 40px;
		p {
			margin: 0;
		}
	}
	&__prompt-text {
		display: block;
		width: 100%;
		max-width: 300px;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 400;
		color: #fff;
		margin-bottom: 24px;
		p {
			margin: 0;
		}
	}
	&__video-block {
		width: 100%;
		max-width: 640px;
	}
	&__video-block iframe {
		width: 100%;
		max-width: 640px;
		height: 360px;
	}
	&__button-wrapper {
		position: relative;
		display: block;
	}
	&__button-cube {
		position: absolute;
		top: 13px;
		left: 11px;
		width: 180px;
		height: 48px;
		background-color: #2950A3;
		z-index: 1;
	}
	&__content-block &__video-block {
		display: none;
	}
}

@include for-size(mobile) {
	.registration-block {
		padding-top: 60px;
		padding-bottom: 60px;
		&__wrapper {
			display: block;
		}
		&__content-block &__video-block {
			display: block;
			margin-bottom: 30px;
		}
		&__content-block &__video-block iframe {
			height: 200px;
		}
		&__video-block {
			display: none;
		}
		&__description {
			font-size: 14px;
			margin-bottom: 30px;
			br {
				display: none;
			}
		}
		&__prompt-text {
			font-size: 14px;
		}
	}
}

@include for-size(tablet) {
	.registration-block {
		&__wrapper {
			display: block;
		}
		&__content-block &__video-block {
			display: block;
			margin-bottom: 30px;
		}
		&__video-block {
			display: none;
		}
		&__description {
			max-width: 100%;
		}
	}
}