<header class="page-header">
	<div class="container">
	
		<div class="page-header__row">
			<a href="javascript:;" class="page-header__toggle"><span></span></a>
			<a href="index.html" class="page-header__logo">
				<img src="img/logo.svg" alt="logo">
				<span>UX Boost</span>
			</a>
			<a href="https://t.me/ivanuxboost" class="page-header__contacts-link">
				<svg width="35" height="35">
					<use xlink:href="#telegram"></use>
				</svg>
			</a>
<!-- 			<div class="page-header__wrapper">
				<nav class="page-header__nav">
					<ul>
						<li><a href="javascript:;" data-target="#who" data-toggle="anchor">Кто</a></li>
						<li><a href="javascript:;" data-target="#what" data-toggle="anchor">Зачем</a></li>
						<li><a href="javascript:;" data-target="#why" data-toggle="anchor">Почему</a></li>
						<li><a href="javascript:;" data-target="#how" data-toggle="anchor">Почём</a></li>
					</ul>
				</nav>
				<div class="page-header__contacts-block">
					<a href="javascript:;" class="btn btn--contacts">Написать нам</a>
				</div>
			</div> -->
		</div>

<!-- 		<nav class="page-header__nav-menu">
			<ul>
				<li><a href="#">Кто</a></li>
				<li><a href="#">Зачем</a></li>
				<li><a href="#">Почему</a></li>
				<li><a href="#">Почём</a></li>
			</ul>
		</nav> -->

	</div>
</header>