.btn {
  display: block;
  text-align: center;
  border-radius: 0;
  color: #fff;

  font-family: $font-family, sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: 1;

  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: none;
  }
  
  &:active {
    box-shadow: none;
  }
  
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
  }
}

.btn--main {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 272px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.4;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  background-color: #2950A3;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &:hover {
    top: 7px;
    left: 8px;
  }
}

.btn--contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 204px;
  height: 46px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  padding: 0;
  background-color: $brand-color;
  text-transform: uppercase;
}

.btn--registration {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  color: #2950A3;
  text-transform: uppercase;
  background-color: #6BF6B5;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  &:hover {
    top: 13px;
    left: 11px;
    color: lighten(#2950A3, 15%);
  }
}

.btn--mentoring {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 424px;
  font-size: 46px;
  font-weight: 800;
  color: #fff;
  padding-top: 31px;
  padding-bottom: 32px;
  text-transform: uppercase;
  background-color: #2F7DC6;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  &:hover {
    top: 16px;
    left: 16px;
    transition: all 0.3s ease-in-out;
  }
}